Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
install-sh
missing
src/Makefile
src/Makefile.in
src/boundfit.dSYM/
src/lenlinea.inc
src/ndatamax.inc
src/ndegmax.inc
src/nfixedmax.inc
src/nknotsmax.inc
src/version.inc
stamp-h1
src/*.o
src/boundfit

*~

docs/_build/*
